* {
  margin: 0; }

body {
  font-size: 1.5em;
  color: #615e5e;
  font-family: "Poppins", sans-serif; }

.container {
  max-width: 1900px;
  margin: 0 auto; }

section {
  margin: 120px 100px; }

.navigation {
  border: 1px solid transparent; }
  .navigation a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: salmon;
    text-decoration: none;
    overflow: hidden;
    top: 5px;
    height: auto;
    font-family: "Poppins", sans-serif; }
    .navigation a:after {
      content: '';
      position: absolute;
      background: #615e5e;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease; }
    .navigation a:hover:after {
      width: 100%; }
  .navigation .button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease; }
    .navigation .button_container:hover {
      opacity: .7; }
    .navigation .button_container.active .top {
      transform: translateY(10px) translateX(0) rotate(45deg);
      background: salmon; }
    .navigation .button_container.active .middle {
      opacity: 0;
      background: salmon; }
    .navigation .button_container.active .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: salmon; }
    .navigation .button_container span {
      background: salmon;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0;
      transition: all .35s ease;
      cursor: pointer; }
      .navigation .button_container span:nth-of-type(2) {
        top: 10px; }
      .navigation .button_container span:nth-of-type(3) {
        top: 20px; }
  .navigation .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, width .35s;
    z-index: 50; }
    .navigation .overlay:before {
      content: '';
      background: #615e5e;
      left: -55%;
      top: 0;
      width: 50%;
      height: 100%;
      position: absolute;
      transition: left .35s ease; }
    .navigation .overlay:after {
      content: '';
      background: #615e5e;
      right: -55%;
      top: 0;
      width: 50%;
      height: 100%;
      position: absolute;
      transition: all .35s ease; }
    .navigation .overlay.open {
      opacity: .9;
      visibility: visible;
      height: 100%; }
      .navigation .overlay.open:before {
        left: 0; }
      .navigation .overlay.open:after {
        right: 0; }
      .navigation .overlay.open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s; }
        .navigation .overlay.open li:nth-of-type(2) {
          animation-delay: .45s; }
        .navigation .overlay.open li:nth-of-type(3) {
          animation-delay: .55s; }
        .navigation .overlay.open li:nth-of-type(4) {
          animation-delay: .65s; }
    .navigation .overlay nav {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      font-family: "Poppins", sans-serif;
      text-align: center;
      z-index: 100; }
    .navigation .overlay ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%; }
      .navigation .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0; }
        .navigation .overlay ul li a {
          display: block;
          position: relative;
          color: salmon;
          text-decoration: none;
          overflow: hidden; }
          .navigation .overlay ul li a:hover:after, .navigation .overlay ul li a:focus:after, .navigation .overlay ul li a:active:after {
            width: 100%; }
          .navigation .overlay ul li a:after {
            content: '';
            position: absolute;
            bottom: 40px;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: #FFF;
            transition: .5s; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

.jumbotron {
  background-image: url("https://images.pexels.com/photos/24324/pexels-photo.jpg?w=1900&h=auto&auto=compress&cs=tinysrgb");
  height: 100vh;
  max-width: 1900px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative; }
  .jumbotron h1 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 200px;
    margin-left: 50px;
    max-width: 60%; }
  .jumbotron span {
    color: salmon; }

nav {
  width: 100%;
  padding-top: 40px; }
  nav ul {
    display: flex;
    justify-content: flex-end; }
    nav ul li {
      padding: 0 30px;
      list-style-type: none;
      cursor: pointer; }
      nav ul li a {
        color: #615e5e;
        text-decoration: none;
        display: inline-block;
        border-bottom: 2px solid transparent;
        height: 17px;
        transition: all ease-in-out .3s; }
        nav ul li a:hover {
          border-color: #615e5e; }

.jumbotron-button {
  font-size: 40px;
  position: absolute;
  width: 60px;
  bottom: 20px;
  margin: 0 auto;
  right: 50%;
  left: 50%;
  animation: jump 1.9s infinite; }
  .jumbotron-button a {
    color: salmon; }

@keyframes jump {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }

.row {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0; }

img {
  width: 100%;
  height: 650px;
  object-fit: cover; }

hr {
  width: 150px;
  height: 3px;
  background-color: salmon;
  border: none;
  margin: 20px 0 120px; }

.antek,
.czarek,
.color-game,
.country-search-engine,
.kanban-board,
.patatap,
.quote-machine,
.rock-paper-scissors,
.to-do-list {
  position: relative;
  text-align: center; }
  .antek p,
  .czarek p,
  .color-game p,
  .country-search-engine p,
  .kanban-board p,
  .patatap p,
  .quote-machine p,
  .rock-paper-scissors p,
  .to-do-list p {
    font-size: 15px;
    margin: 30px 0; }
  .antek .description,
  .czarek .description,
  .color-game .description,
  .country-search-engine .description,
  .kanban-board .description,
  .patatap .description,
  .quote-machine .description,
  .rock-paper-scissors .description,
  .to-do-list .description {
    position: absolute;
    color: transparent;
    height: 650px;
    width: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: .5s ease; }
    .antek .description:hover,
    .czarek .description:hover,
    .color-game .description:hover,
    .country-search-engine .description:hover,
    .kanban-board .description:hover,
    .patatap .description:hover,
    .quote-machine .description:hover,
    .rock-paper-scissors .description:hover,
    .to-do-list .description:hover {
      background: rgba(250, 128, 114, 0.9);
      color: #FFF; }
      .antek .description:hover a,
      .czarek .description:hover a,
      .color-game .description:hover a,
      .country-search-engine .description:hover a,
      .kanban-board .description:hover a,
      .patatap .description:hover a,
      .quote-machine .description:hover a,
      .rock-paper-scissors .description:hover a,
      .to-do-list .description:hover a {
        visibility: visible;
        transition: .3s ease; }
    .antek .description a,
    .czarek .description a,
    .color-game .description a,
    .country-search-engine .description a,
    .kanban-board .description a,
    .patatap .description a,
    .quote-machine .description a,
    .rock-paper-scissors .description a,
    .to-do-list .description a {
      visibility: hidden;
      display: inline-block;
      color: #FFF;
      border: 2px solid #FFF;
      width: 120px;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      font-size: 15px;
      margin: 10px auto;
      border-radius: 8px;
      transition: .1s ease; }
      .antek .description a:hover,
      .czarek .description a:hover,
      .color-game .description a:hover,
      .country-search-engine .description a:hover,
      .kanban-board .description a:hover,
      .patatap .description a:hover,
      .quote-machine .description a:hover,
      .rock-paper-scissors .description a:hover,
      .to-do-list .description a:hover {
        background-color: #FFF;
        color: salmon; }
    .antek .description p,
    .czarek .description p,
    .color-game .description p,
    .country-search-engine .description p,
    .kanban-board .description p,
    .patatap .description p,
    .quote-machine .description p,
    .rock-paper-scissors .description p,
    .to-do-list .description p {
      letter-spacing: 1px; }

.antek {
  width: 100%; }

.kanban-board {
  width: 50%;
  margin-right: 12px; }

.color-game {
  width: 50%;
  margin-left: 12px; }

.czarek {
  width: 100%; }

.country-search-engine {
  width: 50%;
  margin-right: 12px; }

.quote-machine {
  width: 50%;
  margin-left: 12px; }

.patatap {
  width: 100%; }

.rock-paper-scissors {
  width: 65%;
  margin-right: 12px; }

.to-do-list {
  width: 35%;
  margin-left: 12px; }

.bio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Lato", sans-serif;
  line-height: 30px;
  font-weight: 300; }
  .bio .about,
  .bio .technologies {
    width: 100%; }
  .bio .about {
    text-align: left; }
  .bio .technologies {
    text-align: right; }
  .bio img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid salmon;
    margin: 0 60px;
    align-self: center;
    flex: none; }
  .bio h2 {
    margin-bottom: 50px; }
  .bio p {
    font-size: 20px;
    margin: 20px 0; }
  .bio i {
    font-size: 55px;
    display: inline-block;
    margin: 10px; }
  .bio .devicon-swift-plain-wordmark {
    font-size: 75px;
    line-height: 50px; }

.contact {
  display: flex;
  justify-content: space-between; }
  .contact a {
    color: salmon;
    text-decoration: none; }
  .contact .mail-phone a {
    margin-bottom: 50px;
    display: inline-block; }
  .contact .mail-phone span {
    color: salmon; }
  .contact .social {
    align-self: flex-end; }
    .contact .social a {
      color: #615e5e;
      font-size: 50px;
      margin: 10px;
      transition: ease .5s; }
      .contact .social a:hover {
        color: salmon; }

@media (max-width: 425px) {
  section {
    margin: 80px 43px; }
  .jumbotron h1 {
    font-size: 23px;
    margin-top: 100px; }
  .row {
    flex-direction: column;
    align-items: baseline;
    height: auto; }
  .antek,
  .czarek,
  .color-game,
  .country-search-engine,
  .kanban-board,
  .patatap,
  .quote-machine,
  .rock-paper-scissors,
  .to-do-list {
    width: 100%;
    margin: 0; }
  .color-game,
  .quote-machine,
  .to-do-list {
    margin-top: 24px; }
  .bio {
    flex-direction: column; }
    .bio .about,
    .bio .technologies {
      text-align: center; }
    .bio img {
      margin: 50px 0;
      height: 250px;
      width: 250px; }
  .contact {
    display: flex;
    flex-direction: column;
    font-size: .7em; }
    .contact .social {
      align-self: center;
      margin-top: 20px; } }

@media (max-width: 1024px) and (min-width: 426px) {
  section {
    margin: 100px 60px; }
  .jumbotron h1 {
    font-size: 25px; }
  .row {
    flex-direction: column;
    align-items: baseline;
    height: auto; }
  .antek,
  .czarek,
  .color-game,
  .country-search-engine,
  .kanban-board,
  .patatap,
  .quote-machine,
  .rock-paper-scissors,
  .to-do-list {
    width: 100%;
    margin: 0; }
  .color-game,
  .quote-machine,
  .to-do-list {
    margin-top: 24px; }
  .bio {
    flex-direction: column; }
    .bio .about,
    .bio .technologies {
      text-align: center; }
    .bio img {
      margin: 50px 0; } }

@media (max-width: 1440px) and (min-width: 1025px) {
  .jumbotron h1 {
    font-size: 37px; } }

/*# sourceMappingURL=style.css.map */