* {
  margin: 0; }

body {
  font-size: 1.5em;
  color: #615e5e;
  font-family: "Poppins", sans-serif; }

.container {
  max-width: 1900px;
  margin: 0 auto; }

section {
  margin: 120px 100px; }

.hero {
  background-image: url("https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=");
  min-height: 800px;
  height: 100vh;
  max-width: 1900px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto; }
  .hero h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 50px;
    max-width: 60%; }
  .hero span {
    color: salmon; }

nav {
  width: 100%;
  padding-top: 40px; }
  nav ul {
    display: flex;
    justify-content: flex-end; }
    nav ul li {
      padding: 0 30px;
      list-style-type: none;
      cursor: pointer; }
      nav ul li a {
        color: #615e5e;
        text-decoration: none;
        display: inline-block;
        border-bottom: 2px solid transparent;
        height: 17px;
        transition: all ease-in-out .3s; }
        nav ul li a:hover {
          border-color: #615e5e; }

.row {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0; }

img {
  width: 100%;
  height: 650px;
  object-fit: cover; }

hr {
  width: 150px;
  height: 3px;
  background-color: salmon;
  border: none;
  margin: 20px 0 120px; }

.antek,
.czarek,
.color-game,
.country-search-engine,
.kanban-board,
.patatap,
.quote-machine,
.rock-paper-scissors,
.to-do-list {
  position: relative;
  text-align: center; }
  .antek p,
  .czarek p,
  .color-game p,
  .country-search-engine p,
  .kanban-board p,
  .patatap p,
  .quote-machine p,
  .rock-paper-scissors p,
  .to-do-list p {
    font-size: 15px;
    margin: 30px 0; }
  .antek .description,
  .czarek .description,
  .color-game .description,
  .country-search-engine .description,
  .kanban-board .description,
  .patatap .description,
  .quote-machine .description,
  .rock-paper-scissors .description,
  .to-do-list .description {
    position: absolute;
    color: transparent;
    height: 650px;
    width: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: .5s ease; }
    .antek .description:hover,
    .czarek .description:hover,
    .color-game .description:hover,
    .country-search-engine .description:hover,
    .kanban-board .description:hover,
    .patatap .description:hover,
    .quote-machine .description:hover,
    .rock-paper-scissors .description:hover,
    .to-do-list .description:hover {
      background: rgba(250, 128, 114, 0.9);
      color: white; }
      .antek .description:hover a,
      .czarek .description:hover a,
      .color-game .description:hover a,
      .country-search-engine .description:hover a,
      .kanban-board .description:hover a,
      .patatap .description:hover a,
      .quote-machine .description:hover a,
      .rock-paper-scissors .description:hover a,
      .to-do-list .description:hover a {
        visibility: visible;
        transition: .3s ease; }
    .antek .description a,
    .czarek .description a,
    .color-game .description a,
    .country-search-engine .description a,
    .kanban-board .description a,
    .patatap .description a,
    .quote-machine .description a,
    .rock-paper-scissors .description a,
    .to-do-list .description a {
      visibility: hidden;
      display: inline-block;
      color: white;
      border: 2px solid white;
      width: 120px;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      font-size: 15px;
      margin: 10px auto;
      border-radius: 8px;
      transition: .1s ease; }
      .antek .description a:hover,
      .czarek .description a:hover,
      .color-game .description a:hover,
      .country-search-engine .description a:hover,
      .kanban-board .description a:hover,
      .patatap .description a:hover,
      .quote-machine .description a:hover,
      .rock-paper-scissors .description a:hover,
      .to-do-list .description a:hover {
        background-color: white;
        color: salmon; }
    .antek .description p,
    .czarek .description p,
    .color-game .description p,
    .country-search-engine .description p,
    .kanban-board .description p,
    .patatap .description p,
    .quote-machine .description p,
    .rock-paper-scissors .description p,
    .to-do-list .description p {
      letter-spacing: 1px; }

.antek {
  width: 100%; }

.kanban-board {
  width: 50%;
  margin-right: 12px; }

.color-game {
  width: 50%;
  margin-left: 12px; }

.czarek {
  width: 100%; }

.country-search-engine {
  width: 50%;
  margin-right: 12px; }

.quote-machine {
  width: 50%;
  margin-left: 12px; }

.patatap {
  width: 100%; }

.rock-paper-scissors {
  width: 65%;
  margin-right: 12px; }

.to-do-list {
  width: 35%;
  margin-left: 12px; }

.bio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Lato", sans-serif;
  line-height: 30px;
  font-weight: 300; }
  .bio .about,
  .bio .technologies {
    width: 100%; }
  .bio .about {
    text-align: left; }
  .bio .technologies {
    text-align: right; }
  .bio img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid salmon;
    margin: 40px;
    align-self: center; }
  .bio h2 {
    margin-bottom: 50px; }
  .bio p {
    font-size: 20px;
    margin: 20px 0; }
  .bio i {
    font-size: 55px;
    display: inline-block;
    margin: 10px; }
  .bio .devicon-swift-plain-wordmark {
    font-size: 75px;
    line-height: 50px; }

.contact {
  display: flex;
  justify-content: space-between; }
  .contact a {
    color: salmon;
    text-decoration: none; }
  .contact .mail-phone a {
    margin-bottom: 50px;
    display: inline-block; }
  .contact .mail-phone span {
    color: salmon; }
  .contact .social {
    align-self: flex-end; }
    .contact .social a {
      color: #615e5e;
      font-size: 50px;
      margin: 10px;
      transition: ease .5s; }
      .contact .social a:hover {
        color: salmon; }

#contact {
  margin-bottom: 50px; }

/*# sourceMappingURL=style.css.map */