$text-color: #615e5e
$basic-font: 'Poppins', sans-serif
$longer-text-font: 'Lato', sans-serif;
$highlighted-words: salmon
$button-height: 27px
$button-width: 35px
$color-link: #FFF

*
	margin: 0

body
	font-size: 1.5em
	color: $text-color
	font-family: $basic-font

.container
	max-width: 1900px
	margin: 0 auto

section
	margin: 120px 100px

// nagivation

.navigation
	border: 1px solid transparent //fixes the problem with margin above the burger button
	
	a
	    display: inline-block
	    position: relative
	    text-align: center
	    color: $highlighted-words
	    text-decoration: none
	    overflow: hidden
	    top: 5px
	    height: auto
	    font-family: $basic-font

	    &:after
	      content: ''
	      position: absolute
	      background: $text-color
	      height: 2px
	      width: 0%
	      transform: translateX(-50%)
	      left: 50%
	      bottom: 0
	      transition: .35s ease

	    &:hover:after
	      width: 100%

	.button_container
	  position: fixed
	  top: 5%
	  right: 2%
	  height: $button-height
	  width: $button-width
	  cursor: pointer
	  z-index: 100
	  transition: opacity .25s ease

	  &:hover
	    opacity: .7

	  &.active
	    .top
	      transform: translateY(10px) translateX(0) rotate(45deg)
	      background: $highlighted-words

	    .middle
	      opacity: 0
	      background: $highlighted-words

	    .bottom
	      transform: translateY(-10px) translateX(0) rotate(-45deg)
	      background: $highlighted-words

	  span
	    background: $highlighted-words    
	    border: none
	    height: 5px
	    width: 100%
	    position: absolute
	    top: 0px
	    left: 0
	    transition: all .35s ease
	    cursor: pointer

	    &:nth-of-type(2)
	      top: 10px

	    &:nth-of-type(3)
	      top: 20px

	.overlay
	  position: fixed
	  top: 0
	  left: 0
	  width: 100%
	  height: 100%
	  opacity: 1
	  visibility: hidden
	  transition: opacity .35s, visibility .35s, width .35s
	  z-index: 50

	  &:before
	    content: ''
	    background: $text-color
	    left: -55%
	    top: 0
	    width: 50%
	    height: 100%
	    position: absolute
	    transition: left .35s ease

	  &:after
	    content: ''
	    background: $text-color
	    right: -55%
	    top: 0
	    width: 50%
	    height: 100%
	    position: absolute
	    transition: all .35s ease

	  &.open
	    opacity: .9
	    visibility: visible
	    height: 100%

	    &:before
	      left: 0

	    &:after
	      right: 0

	    li
	      animation: fadeInRight .5s ease forwards
	      animation-delay: .35s

	      &:nth-of-type(2)
	        animation-delay: .45s

	      &:nth-of-type(3)
	        animation-delay: .55s

	      &:nth-of-type(4)
	        animation-delay: .65s

	  nav
	    position: relative
	    height: 70%
	    top: 50%
	    transform: translateY(-50%)
	    font-size: 50px
	    font-family: $basic-font
	    text-align: center
	    z-index: 100

	  ul
	    list-style: none
	    padding: 0
	    margin: 0 auto
	    display: inline-block
	    position: relative
	    height: 100%

	    li
	      display: block
	      height: 25%
	      height: calc(100% / 4)
	      min-height: 50px
	      position: relative
	      opacity: 0

	      a
	        display: block
	        position: relative
	        color: $highlighted-words
	        text-decoration: none
	        overflow: hidden

	        &:hover:after,
	        &:focus:after,
	        &:active:after
	          width: 100%

	        &:after
	          content: ''
	          position: absolute
	          bottom: 40px
	          left: 50%
	          width: 0%
	          transform: translateX(-50%)
	          height: 3px
	          background: $color-link
	          transition: .5s

	@keyframes fadeInRight
	  0%
	    opacity: 0
	    left: 20%

	  100%
	    opacity: 1
	    left: 0

// end navigation


.jumbotron
	background-image: url("https://images.pexels.com/photos/24324/pexels-photo.jpg?w=1900&h=auto&auto=compress&cs=tinysrgb")
	height: 100vh
	max-width: 1900px
	background-size: 
	background-position: center
	background-repeat: no-repeat
	margin: 0 auto
	position: relative
		
	h1
		font-size: 45px
		font-weight: 700
		margin-top: 13%
		margin-left: 50px
		max-width: 60%

	span
		color: $highlighted-words

nav
	width: 100%
	padding-top: 40px

	ul
		display: flex
		justify-content: flex-end

		li
			padding: 0 30px
			list-style-type: none
			cursor: pointer		
			a
				color: $text-color
				text-decoration: none
				display: inline-block
				border-bottom: 2px solid transparent
				height: 17px
				transition: all ease-in-out .3s 
				&:hover
					border-color: $text-color


.jumbotron-button
	font-size: 40px
	position: absolute
	width: 60px
	bottom: 20px
	margin: 0 auto
	right: 50%
	left: 50%
	animation: jump 1.9s infinite
	&:hover
	a
		color: $highlighted-words
		
@keyframes jump
	0%
		transform: translateY(0)
	50%
		transform: translateY(10px)
	100%
 		transform: translateY(0)

/* WORKS SECTION */

.row
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	margin: 24px 0

img
	width: 100%
	height: 650px
	object-fit: cover

hr
	width: 150px
	height: 3px
	background-color: $highlighted-words
	border: none
	margin: 20px 0 120px


.antek,
.czarek,
.color-game,
.country-search-engine,
.kanban-board,
.patatap,
.quote-machine,
.rock-paper-scissors,
.to-do-list
	position: relative
	text-align: center
	
	p
		font-size: 15px
		margin: 30px 0

	.description
			position: absolute
			color: transparent
			height: 650px
			width: 100%
			display: flex
			top: 0
			flex-direction: column
			justify-content: center
			opacity: 1
			transition: .5s ease
			&:hover
				background: rgba(250, 128, 114, .9)
				color: $color-link
				a
					color: $color-link
					transition: .3s ease
					border: 2px solid $color-link
					
				
			a
				display: inline-block
				color: transparent
				border: 2px solid transparent
				width: 120px
				height: 30px
				line-height: 30px
				text-decoration: none
				font-size: 15px
				margin: 10px auto
				border-radius: 8px
				transition: .1s ease

				&:hover
					background-color: $color-link
					color: $highlighted-words
			p
				letter-spacing: 1px

.antek
	width: 100%

.kanban-board
	width: 50%
	margin-right: 12px

.color-game
	width: 50%
	margin-left: 12px

.czarek
	width: 100%

.country-search-engine
	width: 50%
	margin-right: 12px

.quote-machine
	width: 50%
	margin-left: 12px

.patatap
	width: 100%

.rock-paper-scissors
	width: 65%
	margin-right: 12px

.to-do-list
	width: 35%
	margin-left: 12px

/* BIO SECTION */

.bio	
	display: flex
	justify-content: center
	align-items: flex-start
	font-family: $longer-text-font
	line-height: 30px
	font-weight: 300
	
	.about,
	.technologies
		width: 100%
	.about
		text-align: left
	.technologies
		text-align: right

	img
		width: 300px
		height: 300px
		border-radius: 50%
		border: 3px solid $highlighted-words
		margin: 0 60px
		align-self: center
		flex: none

	h2
		margin-bottom: 50px

	p
		font-size: 20px
		margin: 20px 0

	i
		font-size: 55px
		display: inline-block
		margin: 10px

	.devicon-swift-plain-wordmark
			font-size: 75px
			line-height: 50px

/* contact section */

.contact
	display: flex
	justify-content: space-between

	a
		color: $highlighted-words
		text-decoration: none

	.mail-phone
		a
			margin-bottom: 50px
			display: inline-block
		span
			color: $highlighted-words

	.social
		align-self: flex-end
		a
			color: $text-color
			font-size: 50px
			margin: 10px
			transition: ease .5s 
			&:hover
				color: $highlighted-words

/* MEDIA LAPTOPS */

@media(max-width: 1366px)
	
	.jumbotron
		h1
			font-size: 40px
			margin-top: 9%

/*MEDIA TABLETS*/

@media(max-width: 1024px)
	section
		margin: 120px 60px

	.row
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
	
	.antek,
	.czarek,
	.color-game,
	.country-search-engine,
	.kanban-board,
	.patatap,
	.quote-machine,
	.rock-paper-scissors,
	.to-do-list
		margin: 0
		width: 100%
		
		.description
			background-color: rgba(97, 94, 94, 0.9)
				
			h2,
			p
				color: $color-link
				padding: 0 50px

			a
				color: $color-link
				border-color: $color-link


	.kanban-board,
	.country-search-engine,
	.rock-paper-scissors
		margin-bottom: 24px

	.bio	
		display: flex
		justify-content: center
		flex-direction: column

		.about
			text-align: left

		.technologies
			text-align: center

		img
			margin: 30px 0

/*MEDIA SMARTPHONES*/

@media(max-width: 768px)
	
	.jumbotron
	
		h1
			font-size: 30px
			margin-top: 8%
	section
		margin: 60px 8px

	hr
		margin-bottom: 60px

	img
		height: 300px
	
	.antek,
	.czarek,
	.color-game,
	.country-search-engine,
	.kanban-board,
	.patatap,
	.quote-machine,
	.rock-paper-scissors,
	.to-do-list
		.description
			height: 300px

			h2
				font-size: 22px
			p
				font-size: 12px
			a
				font-size: 12px

	/* to fo: fix contact display */

	.contact
		display: flex
		flex-direction: column

		.social
			align-self: center
			margin-top: 50px

@media(max-width: 570px)
	
	.jumbotron
		h1
			font-size: 27px

	.contact
		text-align: center